
html, body{
	background-color: tomato;
	font-family: helvetica;
	font-size:16px;
}
span.ui-helper-hidden-accessible{
	display:none;
}

input{
	display:block;
	padding:5px;
	border-radius:3px;
	color:tomato;
	font-weight: 700;
	font-size: 24px;
	width:300px;
	margin:20px auto;
}

ul{
	color:#fff;
	list-style: none;
	padding:20 0 0 0;
	position: relative; 
}
li{
	padding:8px;
	border-bottom: 1px solid #fff;
	width:278px;
}